.register{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.register .contModalRegister{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register .contModalRegister .contBody{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #e6dee9;
    box-shadow: 1px 2px 20px 20px rgba(152, 150, 240, 0.7);
}
.register .contModalRegister .contBody .btnA{
    width: 20%;
    height: 10%;
    border: none;
    border-radius: 10px;
    background-color: #9896F0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register .contForm{
    width: 50%;
    height: 100%;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register .contForm .form{
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 2px 20px 20px rgba(152, 150, 240, 0.7);
}
.register .contForm .form .formInput{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.register .contForm .form .headerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    
}
.register .contForm .form .headerForm .logoCont{
    width: 50%;
    height: 80%;
    background-image: url('../img/Logo-removebg-preview.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.register .contForm .form .headerForm h1{
    color: #9896F0;
}
.register .contForm .form .bodyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}
.register .contForm .form .bodyForm .input{
    width: 80%;
    gap: 10px;
    height: 50px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.register .contForm .form .bodyForm .input input{
    width: 100%;
    height: 100%;
    border: none;
    
    border: #71C5EE 1px solid;
    padding: 5px;
    border-radius: 15px;
}


.register .contForm .form .bodyForm .inputButtonRegister{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register .contForm .form .bodyForm .inputButtonRegister input{
    width: 30%;
    height: 100%;
    margin-top: 10px;
    border: none;
    background-color: #9896F0;
    border-radius: 15px;
    transition: all 0.2s;
}
.register .contForm .form .bodyForm .inputButtonRegister input:hover{
    width: 33%;
    background-color: transparent;
    border: 1px solid #9896F0;
    color: #9896F0;
    cursor: pointer;
}
.register .contForm .form .bodyForm .cancelRegister{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register .contForm .form .bodyForm .cancelRegister .btnCancel{
    width: 30%;
    height: 60%;
    margin-top: 10px;
    border: none;
    background-color: #fdcbf1;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register .contForm .form .bodyForm .cancelRegister .btnCancel:hover{
    width: 33%;
    background-color: transparent;
    border: 1px solid #9896F0;
}
.register .contForm .form .footerForm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    gap: 30px;
}
.register .contForm .form .footerForm p{
    display: none;
}
